/* change color of h1 */
h1 {
  color: black;
}

body {
  background: antiquewhite;
  background-image: url("/eiffel.jpg");
  background-size: 150px 50px;
  background-repeat: no-repeat;
}

.boxed {
  border: 1px solid aliceblue ;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: justify;
}

a:link, a:visited {
    background-color: aliceblue;
    color: black;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    box-shadow: 10px 10px grey;
}

a:hover, a:active {
    background-color: azure;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
