/* change color of h1 */
h1 {
  color: lightgrey;
}
/* change hover link color */
a:hover {
   color:red;
}
/*<a href="https://rwill134.github.io/">link</a>*/

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
