/* change color of h1 */
h1 {
  color: lightblue;
}
/* change hover link color 
a:hover {
   color: red;
}

/* remove line under link 
a:link {
    text-decoration: none;
}*/

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
